<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <app-recipe-item
      *ngFor="let recipeEl of recipes"
      [recipe]="recipeEl"></app-recipe-item>
  </div>
</div>

<!-- <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">

    <div class="card-body float-left">
      <h5 class="card-title">{{recipe.name}}</h5>
      <p class="card-text">{{recipe.description}}</p>
    </div>

    <span class="float-right">
      <img
        [src]="recipe.imagePath"
        class="card-img"
        alt="{{recipe.name}}"
        style="max-height: 150px;" />
    </span>

</a> -->
